<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row mt-4 pb-4">
					<div class="col-sm-10">
						<h2><b>Items</b></h2>
					</div>
				</div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of items">
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td class="text-left"><input type="checkbox" [(ngModel)]="item.status"></td>
						<td>
							<a href=""><i class="fa fa-pencil"></i></a>
						</td>
						<!--<td>{{ item.status }}</td>-->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--<form class="pt-3">-->
	<div class="pt-3 pb-3">
		<div class="form-group">
		  <label for="inputItem">Nuevo item</label>
		  <input type="email" [(ngModel)]="newItem" class="form-control" id="inputItem">
		</div>
		<button type="submit" class="btn btn-primary" (click)="addItem(newItem)">Agregar</button>
	</div>
	<!--</form>-->        
</div>
